@page
@using JasonAlmond_DiscussionBoard.Models;
@using JasonAlmond_DiscussionBoard.Helpers;
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="container">
        <form method="get">
            <button type="submit" asp-page="/DiscussionThreads">New Discussion Thread</button>
        </form>
    </div>
</div>

<div>
    @if (Model.DiscussionThreads.Count != 0)
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>User</th>
                <th>Date</th>
                <th>Post</th>
            </tr>
            </thead>
            <tbody>
            @foreach (DiscussionThread dt in Model.DiscussionThreads)
            {
                <tr>
                    <td>
                        @if ((await AuthorizationService.AuthorizeAsync(HttpContextAccessor.HttpContext.User,
                                 dt,
                                 PolicyTypes.IsOwnerOrAdmin)).Succeeded)
                        {
                            <a href="/DiscussionThreads/@dt.Id">@dt.Title</a>
                        }
                        else
                        {
                            @dt.Title
                        }
                    </td>@*
                    <td><a href="/DiscussionThreads/@dt.Id">@dt.Title</a></td>*@
                    <td>@dt.ApplicationUser.ToString()</td>
                    <td>@dt.CreatedAt.ToLocalTime().ToString("f")</td>
                    <td><a href="/Discussion/@dt.Id">@dt.PostCount</a></td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <h3>No threads have been created yet.</h3>
    }
</div>

